*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    margin-top: 80px;
    padding-bottom: 80px;
    .header{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            color: #515158;
            font-size: 12px;
            font-weight: 600;
        }
        h2{
            color: #524FD5;
            font-size: 32px;
            font-weight: 600;
        }
    }
    .control{

        margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: space-between;
        .button{
            background-color: transparent;
            border: 1px solid rgb(190, 190, 190);
            width: 45%;
            border-radius: 20px;
            padding: 20px 20px;
            .quest{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2{
                     font-weight: 600;
                    font-size: 18px;
                }
                h1{
                

                    color: #524FD5;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }
        .activeButton{
            background-color:  #524FD5;;
            width: 45%;
            border-radius: 20px;
            padding: 20px 20px;
            .quest{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2{
                    color: white;
                     font-weight: 600;
                    font-size: 18px;
                }
                h1{
                

                    color: white;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
            .activeP{
                margin-top: 10px;
                color: white;
                font-size: 20px;
            }
        }
    }
}
@media(max-width:498px){
    .background{
        .header{
            h2{
                font-size: 20px;
            }
           
        }
        .control{
            .button{
                width: 100%;
        
             
            }
            .activeButton{
                width: 100%;
                .activeP{
                   
                    width: 100%;
                 
                }
            }
           
        }
    }
}