*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
   .header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    h2{
        font-weight: 600;
        font-size: 32px;
        color: #524FD5;
    }
 
   }
   .datas{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        img{
            border-radius: 20px;
        }
        h2{
            font-weight: 600;
            font-size: 18px;
        }
        p{
            color: #515158;
        }
        a{
            text-decoration: none;
            color: #524FD5;
        }
    }
   }
  
}
@media(max-width:498px){
    .background{
        .datas{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
    }
}