* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .background {
   
    background-color: #f3f0ff;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
    .control {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 40px;
      gap: 40px;
  
      .line1 {
        img {
          width: 70px;
        }
  
        .h2 {
          padding-top: 20px;
          font-weight: 600;
          font-size: 24px;
          width: 300px;
          line-height: 36px;
        }
  
     
      }
  
      .line2 {
        display: flex;
        flex-direction: column;
        gap: 14px;
  
        h2 {
          color: #9d9da9;
          font-size: 18px;
        }
  
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
  
      .line3 {
        display: flex;
        flex-direction: column;
        gap: 14px;
  
        h2 {
          color: #9d9da9;
          font-size: 18px;
        }
  
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            font-size: 14px;
          }
          li{
            font-weight: 600;
          }
        }
  
        .icons {
          display: flex;
  
          padding-top: 0;
          gap: 20px;
  
          .linkedin {
            display: flex;
  
            width: 10%;
            border: 1px solid #9B9FAC;
            padding: 6px;
            border-radius: 30px;
  
          }
  
        }
      }
    }
  }
  
  @media(min-width:768px) {
    .background {
      margin-top: 40px;
      padding-bottom: 80px;
     
  
      .control {
        display: flex;
        flex-direction: row;
        gap: 0;
  
        justify-content: space-between;
        padding-top: 65px;
  
        .line1 {
          h2 {
            padding-top: 20px;
            font-weight: 600;
            font-size: 28px;
            width: 400px;
          }
  
          p {
            padding-top: 20px;
            width: 350px;
            font-size: 15px;
          }
          img{
            width: 100px;
          }
        }
  
        .line2 {
          display: flex;
          flex-direction: column;
          gap: 14px;
  
          h2 {
            color: #9d9da9;
            font-size: 18px;
            font-weight: 600;
          }
  
          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
  
            a {
              
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
  
        .line3 {
          display: flex;
          flex-direction: column;
          gap: 14px;
  
          h2 {
            color: #9d9da9;
            font-size: 18px;
            font-weight: 600;
          }
  
          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
  
            li {
              text-decoration: none;
              color: black;
              font-size: 14px;
              font-weight: 600;
            }
            a{
              font-size: 14px;
              font-weight: 600;
            }
          }
  
          .icons {
          
  
            padding-top: 0;
  
            .linkedin {
          
              border: 1px solid #9B9FAC;
        width: auto;
        padding: 10px;
        border-radius: 50%;
              svg{
                width: 30px;
                height: 30px;
              }
          
  
  
  
            }
  
          }
        }
      }
    }
  }